:root {
    --background: #ffffff;
    --text: #434455;
    --link: #4d5ae5;
    --link-cont: #404bbf;
    --button-hov: #404ddf;
    --spanny: #2e2f42;
    --address: #434455;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--background);
    color: var(--text);
    font-size: 16px;
    line-height: 24px;
}

.big-header {
    font-weight: 600;
    font-size: 56px;
    line-height: 60px;
}

.innav {
    color: var(--spanny);
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.02em;
}

.link {
    text-decoration: none;
}

.innav:hover, .innav:focus, .innav:active {
    color: var(--link-cont);
}

.inadd {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--address);
    text-decoration: none;
}

.inadd:hover, .inadd:focus {
    color: var(--link-cont);
}

.but {
    color: var(--background);
    background-color: var(--link);
    cursor: pointer;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
}

.but:hover, .but:focus {
    background-color: var(--button-hov);
}

.sect-title {
    font-weight: 600;
    font-size: 36px;
}

.smaller-title {
    font-weight: 600;
    font-size: 20px;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--link);
    text-decoration: none;
}

.spanny {
    color: var(--spanny);
}

.list {
    list-style: none;
}

.contacts {
    font-style: normal;
}